<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aalde.beerbear">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:allowBackup="false">

        <activity android:name=".main.MainMenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".games.buses.rounds.NextPlayer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.buses.rounds.RoundFirst"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.buses.handlers.RoundHandler"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.buses.rounds.RoundSecond"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.buses.rounds.RoundThird"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.buses.rounds.PlayerPlace"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.buses.rounds.Finished"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.buses.rounds.BusesMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.poker.PokerMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.poker.PokerRound"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".games.mexxen.MexxenMain"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>
</manifest>